<div class="container row">
	<div class="col-md-4">
        <a class="pull-left" href="">
                <img class="media-object" ng-src="{{book.volumeInfo.imageLinks.small}}">
        </a>
        <div >
            <ul ng-repeat="price_data in book_price_list | orderBy:price:!reverse">
                <li>
                    <a ng-href="{{price_data.url}}"><img ng-src="{{price_data.thumbnail}}">
                    </a>
                    <br/>
                    <strong>{{price_data.source}} : <i class="fa fa-rupee"></i> {{price_data.price}}
                    </strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-8" >
  		<div class="media">
      		
  			<div class="media-body">
    			<h3 class="media-heading"><i class="fa fa-book"></i> {{book.volumeInfo.title}}</h3>
    			<p><strong>Author:</strong><span ng-repeat="author in book.volumeInfo.authors ">{{author}}&nbsp;,</span></p>
    			<p>{{book.volumeInfo.description}}</p>
    			<table class="table table-striped" >
    				<tbody>
    					<tr>
    						<td><strong>Page Count</strong></td>
    						<td>{{book.volumeInfo.pageCount}}</td>
    					</tr>
    					<tr>
    						<td><strong>Printed Page Count</strong></td>
    						<td>{{book.volumeInfo.printedPageCount}}</td>
    					</tr>
    					<tr>
    						<td><strong>Dimensions</strong></td>
    						<td>Height: {{book.volumeInfo.dimensions.height}}
    						Width: {{book.volumeInfo.dimensions.width}}
    						Thickness: {{book.volumeInfo.dimensions.thickness}}
    						</td>
    					</tr>
    					<tr>
    						<td><strong>Categories</strong></td>
    						<td>{{book.volumeInfo.categories}}</td>
    					</tr>
                        <tr>
                            <td><strong>ISBN</strong></td>
                            <td>{{book.industryIdentifiers[0].identifier}}</td>
                        </tr>
    				</tbody>
    			</table>
          
       		</div>
    	</div>
  	</div>
   
</div>
