<div class="movie-page">
	<div class="col-md-offset-1 col-md-9">
		<h1 class="movie-header"><i class="fa fa-video-camera"></i> {{ movie.title }}</h1>
		<div class="movie">
			<div class="poster" ng-if="movie.posters.original">
				<img src="{{ movie.posters.original }}" alt="">	
			</div>
			<div class="info">
				<p class="ratings"><a href="{{ movie.rtlink }}" target="_blank" title="Critics rating" ng-if="movie.ratings.critics_score > 0"><i class="fa fa-certificate red"></i> {{ movie.ratings.critics_score }}%</a> <a href="{{ movie.rtlink }}" target="_blank" title="Audience rating" ng-if="movie.ratings.audience_score > 0"><i class="fa fa-star yellow"></i> {{ movie.ratings.audience_score }}%</a></p>
				<p class="director" ng-if="movie.abridged_directors"><span class="light-label">Directed by:</span> <a ng-href="http://en.wikipedia.org/wiki/{{director.name}}" target="_blank" ng-repeat="director in movie.abridged_directors">{{ director.name }}<span ng-if="$index != movie.abridged_directors.length-1">, </span></a></p>
				<p class="starring" ng-show="movie.abridged_cast.length > 3"><span class="light-label">Starring: </span><a ng-repeat="actor in movie.abridged_cast" ng-href="http://en.wikipedia.org/wiki/{{actor.name | noParens }}" target="_blank">{{ actor.name | noParens }}<span ng-if="$index != movie.abridged_cast.length-1">, </span></a></p>
				<p class="details" ng-if="movie.theater_release"><span class="light-label">Release Date:</span> {{movie.theater_release}}</p>
				<p class="details" ng-if="movie.mpaa_rating"><span class="light-label">Rated:</span> {{ movie.mpaa_rating }}</p>	
				<p class="details" ng-if="movie.runtime"><span class="light-label">Runtime:</span> {{ movie.runtime }} min.</p>
				<p class="genres" ng-if="movie.genres.length > 0"><span class="light-label">Genres:</span> <span ng-repeat="genre in movie.genres">{{ genre }}<span ng-if="$index != movie.genres.length-1">, </span></a></p>
				<button ng-if="movie.trailer" class="btn btn-primary md-btn" youtube-trailer><i class="fa fa-youtube-play fa-lg"></i>&nbsp;play trailer</button>
				<div ng-if="torrents">
					<h3>Torrents available in</h3>
					<a style="color:#ffffff" ng-repeat="torrent in torrents" class="btn  md-button btn-warning" ng-href="{{torrent.url}}">
						<strong><i class="fa fa-download"></i>&nbsp;{{torrent.quality}}</strong>
					</a>&nbsp;
					
				</div>
			</div>
			<div class="clear-fix"></div>
			<div class="synopsis" ng-if="movie.synopsis">
				<h3>Synopsis</h3>
				{{ movie.synopsis }}
			</div>
			<div class="synopsis" ng-if="!movie.synopsis">
				<p class="tagline"><i>{{ movie.tmdb.tagline }}</i></p>
				{{ movie.tmdb.overview }}
			</div>	

		</div>
	    <h2 class="movie-header">Similar Movies</h2>
	    <div class="search-results" ng-if="similar_movies">
			<div class="movie" ng-repeat="movie in similar_movies">
					<a ui-sref="movie-page({ id: movie.imdb_code, name: movie.title })">
					<img style="width:200px;height:300px;" ng-src="{{movie.medium_cover_image}}"/> <span style="vertical-align: top;">{{movie.title}} <span ng-if="movie.year">({{movie.year}})</span></span> 
					</a> 
					<p class="details">

					</p>
					<p class="details">
						<a style="color:#ffffff" ng-repeat="torrent in movie.torrents" class="btn  md-button btn-warning" ng-href="{{torrent.url}}">
							<strong><i class="fa fa-download"></i>&nbsp;{{torrent.quality}}</strong>
						</a>
					</p>
					<p class="genres" ng-if="movie.genres.length > 0"><span class="light-label">Genres:</span> <span ng-repeat="genre in movie.genres">{{ genre }}<span ng-if="$index != movie.genres.length-1">, </span></p>

					
			</div>
		</div>
	</div>
	</div>
	
</div>
