<div class="col-md-offset-1 col-md-8">
<h1 class="page-header">Upcoming</h1>
	<div class="movie-divider" ng-show="movies.length>0">
		<div class="movie" ng-repeat="movie in movies">
			<div class="poster"><a ui-sref="movie-page({ id: movie.id, name: movie.title })"><img src="{{ movie.posters.detailed }}" alt=""></div>
			<div class="info">
				<h3 class="title">{{movie.title}}</h3></a>
				<p class="ratings"><a href="{{ movie.rtlink }}" target="_blank" title="Critics rating" ng-if="movie.ratings.critics_score > 0"><i class="fa fa-certificate red"></i> {{ movie.ratings.critics_score }}%</a> <a href="{{ movie.rtlink }}" target="_blank" title="Audience rating" ng-if="movie.ratings.audience_score > 0"><i class="fa fa-star yellow"></i> {{ movie.ratings.audience_score }}%</a></p>
				<p class="starring" ng-show="movie.abridged_cast.length > 3"><span class="light-label">Starring: </span>{{ movie.abridged_cast[0].name }}, {{ movie.abridged_cast[1].name }}, {{movie.abridged_cast[2].name}}</p>
				<p class="details"><span class="light-label">Release Date:</span> {{movie.theater_release}}</p>
				<p class="details"><span class="light-label">Rated:</span> {{ movie.mpaa_rating }}</p>	
				<p class="details"><span class="light-label">Runtime:</span> {{ movie.runtime }} min.</p>
				<button class="btn btn-primary md-btn" youtube-trailer>play trailer</button> <button ui-sref="movie-page({id: movie.id})" class="btn btn-default md-btn">more info</button>
			</div>
			<div class="clear-fix"></div>
			<div class="synopsis"><h3>Synopsis</h3>{{movie.synopsis | wordLimit }} <a ui-sref="movie-page({id: movie.id})" ng-if="wordCount(movie.synopsis) > 100">...</a></div>
		</div>
	</div>	
</div>
