<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href ng-click="goHome()">Movie<span class="brand-highlight">Zen</span></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="!isCollapsed">
      <div class="col-sm-5 col-md-6">
          <form id="navbar-search" class="navbar-form" role="search" ng-submit="search(query)">
          <div class="input-group">
              <input type="text" class="form-control search-input" placeholder="Search for movies" ng-model="query">
              <div class="input-group-btn">
                  <button class="btn btn-default btn-search" type="submit"><i class="icomoon icon-search"></i></button>
              </div>
          </div>
          </form>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-video-camera"></i> Movies <span class="caret"></span></a>
          <ul class="dropdown-menu large">
            <li><a ui-sref="in-theaters">In Theaters</a></li>
            <li><a ui-sref="opening">Opening</a></li>
            <li><a ui-sref="upcoming">Upcoming</a></li>
          </ul>
        </li>
      </ul> 
    </div><!-- /.navbar-collapse -->       
  </div>
</nav>